body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.hobbies{
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border: 1px solid black;
}

.container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

